@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif, Arial, Helvetica;
}

body{
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  margin-top: 10px;
}
